NEXT_PUBLIC_SUPABASE_URL=https://kjogiqwtyrwqxiqcibat.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtqb2dpcXd0eXJ3cXhpcWNpYmF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNjc1NDYsImV4cCI6MjA5NTk0MzU0Nn0.wf6HlxC5729_NU2jGftJqgjoVtkov_-Hf5hcLsw2L30
